{% extends "layout.html" %}
{% block body %}


<div class="container">
    <h3 align="center">
        About
    </h3>

    <div id="mycontent">

        
        
        <p>
            This project is image classication based web app where you
            will able to classify 20 different classes with accuracy of 85%
            It works good for animal head and the class it can able to identiy is:
            'bear',
            'cat',
            'chicken',
            'cow',
            'deer',
            'dog',
            'duck',
            'eagle',
            'elephant',
            'human',
            'lion',
            'monkey',
            'mouse',
            'natural',
            'panda',
            'pigeon',
            'rabbit',
            'sheep',
            'tiger',
            'wolf'
        </p>

    </div>

</div>

<style>
#mycontent{
    background-color:  #EBEDEF;
}


</style>



{% endblock  %}
